<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>All Employees</title>
    <link rel="stylesheet"
          href="/static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
</head>
<body th:class="container">
    <div th:class="row">
        <h1>Employees</h1>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"> Photo </th>
                <th scope="col"> Name </th>
                <th scope="col"> Title </th>
                <th scope="col"> Practice </th>
                <th scope="col"> Domain </th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${employees.empty}">
                <td colspan="2"> No employees found. </td>
            </tr>
            <tr th:each="employee : ${employees}">
                <td th:if="${employee.imageFileName.empty}">
                    No photo found.
                </td>
                <td style="max-width: 100px;">
                    <img style="max-width: 80%;" src="/files/" th:src="'http://localhost:8080/files/' + ${employee.imageFileName}">
                </td>
                <td>
                    <span th:text="${employee.firstName} + ' ' + ${employee.lastName}"> Name </span>
                </td>
                <td>
                    <span th:text="${employee.title}"> Title </span>
                </td>
                <td>
                    <span th:text="${employee.practice}"> Practice </span>
                </td>
                <td>
                    <span th:text="${employee.domain}"> Domain </span>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="/new-employee">Add an employee</a>
</body>
</html>